<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="CJHToolForWin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="connection_sqlite" connectionString="Data Source=D:\Projects\CJHWorkTools\db\HHTHelperDB.db;Pooling=true;FailIfMissing=false"
      providerName="System.Data.SQLite" />
    <add name="CJH.CJHWorkTools.Properties.Settings.CJHDBConnectionString"
      connectionString="Data Source=54.222.184.231,11433;Initial Catalog=CJHDB;Persist Security Info=True;User ID=cjh"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <CJHToolForWin.Properties.Settings>
            <setting name="CJHToolForWin_WS_Area_CJHWServiceBase" serializeAs="String">
                <value>http://cjh.viplive.cn:81/CJHWServiceBase.asmx</value>
            </setting>
        </CJHToolForWin.Properties.Settings>
    </applicationSettings>
</configuration>