<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="webPages:Version" value="2.0"/>
  </appSettings>
  <connectionStrings>
    <!-- 连接字符串是否加密 -->
    <add name="CJHDBConnectionString"
      connectionString="Data Source=54.222.184.231,11433;Initial Catalog=CJHDB;Persist Security Info=True;User ID=cjh;Password=cjh!Work123"
      providerName="System.Data.SqlClient" />
    <!--<add key="ConnectionString" value="server=127.0.0.1;database=codematic;uid=sa;pwd=1"/>-->
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />

    <!--<webServices>
      <protocols>
        --><!--<add name="HttpGet"/>--><!--
        <add name="HttpPost"/>
      </protocols>
    </webServices>-->
  </system.web>
</configuration>